<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tricentis.TCCore.Persistency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TOSCAContinuousIntegration.TOSCACIClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Tricentis.Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Tricentis.TCCore.Persistency.Properties.Settings>
    </Tricentis.TCCore.Persistency.Properties.Settings>
    <TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings>
      <setting name="MaxWaitForCheckout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="WorkspacePath" serializeAs="String">
        <value>C:\Tosca_Projects\Tosca_Workspaces\EnlightGuru Training\EnlightGuru Training.tws</value>
      </setting>
      <setting name="LoginName" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="TimestampFormat" serializeAs="String">
        <value> yyMMdd HHmm</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>4</value>
      </setting>
    </TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings>
    <TOSCAContinuousIntegration.TOSCACIClient.Properties.Settings>
      <setting name="WebserviceAuthenticationUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="WebserviceAuthenticationPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="HashingAlgorithm" serializeAs="String">
        <value>SHA256</value>
      </setting>
      <setting name="PathToResultFile" serializeAs="String">
        <value>"c:\Result.xml"</value>
      </setting>
      <setting name="ConsiderExecutionResult" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResultType" serializeAs="String">
        <value>junit</value>
      </setting>
      <setting name="CiClientTimeout" serializeAs="String">
        <value>36000000</value>
      </setting>
      <setting name="ReportIntermediateResults" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PollingInterval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="DiscoveryServiceEndpoint" serializeAs="String">
        <value>http://localhost:5002</value>
      </setting>
      <setting name="AOServiceEndpoint" serializeAs="String">
        <value>http://localhost:5006</value>
      </setting>
      <setting name="AOServiceRequestTimeout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="EnableWorkspacelessExecution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkspaceRootName" serializeAs="String">
        <value />
      </setting>
    </TOSCAContinuousIntegration.TOSCACIClient.Properties.Settings>
    <Tricentis.Automation.Properties.Settings>
      <setting name="TBoxLargeFileOffload" serializeAs="String">
        <value>False</value>
      </setting>
    </Tricentis.Automation.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="TOSCACIClient.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRemoteExecutionService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="Infinite" sendTimeout="Infinite"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IManagerService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="Infinite" sendTimeout="Infinite"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.15.128:8732/TOSCARemoteExecutionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteExecutionService"
        contract="ServiceReference1.IRemoteExecutionService" name="BasicHttpBinding_IRemoteExecutionService" />
      <endpoint address="http://192.168.15.128:81/DistributionServerService/ManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
        contract="ManagerService.IManagerService" name="BasicHttpBinding_IManagerService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>